<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust3.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.swust3.domain.User">
        <id column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        `uid`, username, `password`
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where `uid` = #{uid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where `uid` = #{uid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.swust3.domain.User" useGeneratedKeys="true" keyProperty="uid">
        insert into user (username, `password`)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.swust3.domain.User" useGeneratedKeys="true" keyProperty="uid">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.swust3.domain.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where `uid` = #{uid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.swust3.domain.User">
        update user
        set username = #{username,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR}
        where `uid` = #{uid,jdbcType=INTEGER}
    </update>
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE 1 = 1
        <if test="record.uid != null">
            AND
            `uid` = #{record.uid}
        </if>
        <if test="record.username != null">
            AND
            username like CONCAT('%',#{record.username},'%')
        </if>
        ORDER BY `uid` DESC
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
</mapper>